Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"

update pid.param.yaml (#936)
  autoware_launch/config/control/trajectory_follower/awsim_jpt/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/default/longitudinal/pid.param.yaml
Labels: none

feat(diagnostic_graph_aggregator): introduce diagnostic graph aggregator feature into beta/v0.46.0 (#927)
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-main.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/control.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/localization.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/map.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/perception.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/planning.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/system.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/vehicle.yaml
  autoware_launch/config/system/dummy_diag_publisher/dummy_diag_publisher.param.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:control, component:localization, component:map, component:perception, component:planning, component:simulation, component:system

chore(mpc): apply #553 for all the vehicle
  autoware_launch/config/control/trajectory_follower/1/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/2/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/3/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/4/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/5/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/6/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/7/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/8/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/9/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/awsim_jpt/lateral/mpc.param.yaml
Labels: none

change params
  autoware_launch/config/control/trajectory_follower/2/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/default/longitudinal/pid.param.yaml
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/stop_line.param.yaml
Labels: none

feat(diagnostic_graph_aggregator): introduce diagnostic graph aggregator feature into beta/v0.46.0 (#927) (#937)
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-main.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/control.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/localization.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/map.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/perception.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/planning.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/system.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/vehicle.yaml
  autoware_launch/config/system/dummy_diag_publisher/dummy_diag_publisher.param.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:control, component:localization, component:map, component:perception, component:planning, component:simulation, component:system

chore: disable unnecessary visualization in autoware.rviz
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

chore: Update autoware.rviz visualization settings for paths and trajectories
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

chore: update autoware.rviz visualization settings
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

feat: Increase radius of visualization for paths and trajectories in autoware.rviz
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

feat: Update autoware.rviz visualization settings for paths and trajectories
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

chore: update mpc.param.yaml with new CGMRES solver settings
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
Labels: none

chore: Add RealTimeFactorSliderPanel to autoware.rviz
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

feat: Add back_objects_collision_check_margin to start_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

feat: Update autoware.rviz visualization settings for paths and trajectories
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

chore: Update autoware.rviz visualization settings for paths and trajectories
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

feat(lane_change): add param for lateral angle deviation (#1087)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

feat(lane_change): use different rss param to deal with parked vehicle (#1104)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

fix(lane_change): skip generating path if longitudinal distance difference is less than threshold (#1108)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

feat(static_obstacle_avoidance): add force deactivation duration time (#1101)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

fix(goal_planner): fix lane departure check not working correctly due to uninitialized variable
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

feat(static_obstacle_avoidance): change policy for ambiguous avoidance situation (#1113)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

perf(goal_planner): faster path sorting and selection
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

fix(goal_planner): fix lane departure check not working correctly due to uninitialized variable (#1116)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

feat(autoware_map_based_prediction): add debug parameters for map-based prediction (#1118)
  autoware_launch/config/perception/object_recognition/prediction/map_based_prediction.param.yaml
Labels: component:map

fix(lane_change): parameter update
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

feat(pid_longitudinal_controller): re-organize diff limit structure (#1052)
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

fix(goal_planner): fix lane departure check not working correctly due to uninitialized variable (#1116) (#544)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

Switching to use local config files in diagnostic_graph package (#940)
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware.yaml
Labels: none

Switching to use local config files in diagnostic_graph package (#940) (#941)
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware.yaml
Labels: none

feat(lane_change): consider deceleration in safety check for cancel
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

fix(lane_change): parameter update (#1115)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

fix: data_path
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
Labels: component:simulation

fix(autoware_launch): parse tlr fusion param (#914)
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

fix(autoware_launch): parse tlr fusion param (#914)
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

fix: unify centerpoint launch with xx1
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint_xx1.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

fix(lane_change): parameter update (#1115) (#547)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

feat(tier4_perception_launch): add transfusion option for lidar_detection_model (#1124)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

feat(tier4_perception_launch): add transfusion option for lidar_detection_model (#1124) (#552)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

chore(tier4_perception_component): enable transfusion
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

delete deprecated params in vehicle_cmd_gate.param.yaml
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
Labels: none
