Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"

chore(diagnostic_graph_aggregator): enable comfortable stop when vehi… (#677)
  autoware_launch/config/system/diagnostic_graph_aggregator/vehicle.yaml
Labels: none

feat(control_validator): add min velocity for max distance deviation (#675)
  autoware_launch/config/control/control_validator/control_validator.param.yaml
Labels: component:control

feat(goal_planner): tune goal planner (#673)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

feat(obstacle_cruise)!: type specified stop deccel limit and enabling abandon to stop (#669)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner_pseudo_occlusion.param.yaml
Labels: none

fix grammare error (#887)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

fix grammare error (#887)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

fix(traffic_light_recognition): delete excessive f string (#883)
  autoware_launch/launch/components/traffic_light_recognition/traffic_light_occlusion_predictor.launch.py
Labels: none

fix(pointpainting): fix pointpainting and centerpoint path (#890)
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint_xx1.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

change param
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
Labels: none

Rebase all x2 changes to tier4/main
  autoware_launch/config/control/control_validator/control_validator.param.yaml
  autoware_launch/config/control/external_cmd_selector/external_cmd_selector.param.yaml
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
  autoware_launch/config/localization/ekf_localizer.param.yaml
  autoware_launch/config/localization/ndt_scan_matcher.param.yaml
  autoware_launch/config/perception/object_recognition/detection/clustering/voxel_grid_based_euclidean_cluster.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint_x2.param.yaml
  autoware_launch/config/perception/object_recognition/detection/pointcloud_filter/pointcloud_map_filter.param.yaml
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/data_association_matrix.param.yaml
  autoware_launch/config/perception/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml
  autoware_launch/config/planning/preset/x2_preset.yaml
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/Analytical.param.yaml
  autoware_launch/config/planning/scenario_planning/common/common.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/drivable_area_expansion.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/scene_module_manager.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/behavior_velocity_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/autoware_path_optimizer/path_optimizer.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner_pseudo_occlusion.param.yaml
  autoware_launch/config/system/component_state_monitor/topics.yaml
  autoware_launch/config/system/hazard_lights_selector/hazard_lights_selector.param.yaml
  autoware_launch/config/system/mrm_emergency_stop_operator/mrm_emergency_stop_operator.param.yaml
  autoware_launch/config/system/mrm_handler/mrm_handler.param.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_localization_component.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: component:control, component:localization, component:map, component:perception, component:planning, component:simulation, component:system, component:ui

chore: change max_z of cropbox filter to vehicle_height (#585)
  autoware_launch/config/perception/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml
  autoware_launch/launch/components/tier4_localization_component.launch.xml
Labels: component:localization

feat(behavior_path_planner): add yaw threshold param (#1040)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

Revert "feat(autoware_launch): use mrm handler by default (#1043)"
  autoware_launch/launch/components/tier4_system_component.launch.xml
Labels: component:system

beta/v0.29.0 sync action
  .github/workflows/sync-beta-upstream.yaml
Labels: type:ci

Update sync-beta-upstream.yaml
  .github/workflows/sync-beta-upstream.yaml
Labels: type:ci

chore(traffic_light_arbiter): disable signal matching
  autoware_launch/config/perception/traffic_light_arbiter/traffic_light_arbiter.param.yaml
Labels: none

fix(trajectory_follower): delete unused JT#8 parameter (#894)
  autoware_launch/config/control/trajectory_follower/8/longitudinal/pid.param.yaml
Labels: none

feat(goal_planner): prioritize pull over path by curvature
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

5 to 6
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

change pid,vcl_cmd_gate params
  autoware_launch/config/control/trajectory_follower/4/longitudinal/pid.param.yaml
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
Labels: none

apply to default number vehicle
  autoware_launch/config/control/trajectory_follower/default/longitudinal/pid.param.yaml
Labels: none

fix(pointpainting): fix pointpainting and centerpoint path in tier4 main (#891)
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint_xx1.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

cmd stopped acc 2.0
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
Labels: none

chore(tier4_perception_component): set fusion_only to true (#691)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

PR7074
  autoware_launch/config/map/lanelet2_map_loader.param.yaml
Labels: component:map

feat: enable camera6 to object recognition (#692)
  autoware_launch/config/perception/object_recognition/detection/image_projection_based_fusion/fusion_common.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

fix(autoware_launch): remove unused arg (#897)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

change param
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
Labels: none

change pid params
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

change stop_line param
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/stop_line.param.yaml
Labels: none

feat(start_planner): add end_pose_curvature_threshold
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

feat(static_obstacle_avoidance)!: add param to select path generation method (#1036)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

refactor(static_obstacle_avoidance): organize params for drivable lane (#1042)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

feat(x2_gen1_nebula): fixed topic and container names of pointcloud subscribed by localization module (#693)
  autoware_launch/launch/components/tier4_localization_component.launch.xml
Labels: component:localization

Use concat pointcloud for ndt
  autoware_launch/launch/components/tier4_localization_component.launch.xml
Labels: component:localization

style(pre-commit): autofix
  autoware_launch/launch/components/tier4_localization_component.launch.xml
Labels: component:localization

launch l4toolkit by default
  autoware_launch/launch/autoware.launch.xml
Labels: none

fix(mpc.param.yaml) change enable_path_smoothing to false
  autoware_launch/config/control/trajectory_follower/1/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/10/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/2/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/3/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/4/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/5/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/6/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/7/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/8/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/9/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/awsim_jpt/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/default/lateral/mpc.param.yaml
Labels: none

feat(duplicated_node_checker): add duplicate nodes to ignore (#1070)
  autoware_launch/config/system/duplicated_node_checker/duplicated_node_checker.param.yaml
Labels: none

feat(duplicated_node_checker): add duplicate nodes to ignore (#1070) (#488)
  autoware_launch/config/system/duplicated_node_checker/duplicated_node_checker.param.yaml
Labels: none
