Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

fix(start_planner): set ignore_distance_from_lane_end param to 0.0 since it is not needed (#1198)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

fix(diagnostic_graph_aggregator): emergency from sensing and hardware when using psim (#993) (#1007)
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-awsim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-main.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
Labels: none

delete remove
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-awsim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-main.yaml
Labels: none

chore: update fusion_common.param.yaml with new image projection sett… (#1207)
  autoware_launch/config/perception/object_recognition/detection/image_projection_based_fusion/fusion_common.param.yaml
Labels: none

fix(e2e): use camera6 (#997)
  autoware_launch/launch/e2e_simulator.launch.xml
Labels: component:simulation

chore(xx1_preset): disable obstacle_velocity_limiter (#1013)
  autoware_launch/config/planning/preset/xx1_preset.yaml
Labels: none

chore(run_out): relax the max_prediction_time
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
Labels: none

Update autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
Labels: none

Update autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
Labels: none

Parameter Adjustment (#1016)
  autoware_launch/config/control/trajectory_follower/default/lateral/mpc.param.yaml
Labels: none

Parameter Adjustment (#1017)
  autoware_launch/config/control/trajectory_follower/default/longitudinal/pid.param.yaml
Labels: none

feat(aeb): set global param to override autoware state check (#1218)
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control

chore(dynamic_obstacle_avoidance): margin_distance_around_pedestrian to 1.0 (#1021)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/dynamic_obstacle_avoidance.param.yaml
Labels: none

feat: add parameter of MRM summary
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

enable AEB
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control

refactor(rviz): add VirtualWall display for Autonomous Emergency Braking (#1187)
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

feat(goal_planner): loosen safety check to prevent unnecessary stop (#1231)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

feat(goal_planner): loosen safety check to prevent unnecessary stop (… (#691)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

refactor(system_diagnostic_monitor, dummy_diag_publisher, diagnostic_graph_aggregator): combine diag list setting directories (#1253)
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-awsim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-main.yaml
  autoware_launch/config/system/diagnostics/autoware-awsim.yaml
  autoware_launch/config/system/diagnostics/autoware-main.yaml
  autoware_launch/config/system/diagnostics/control.yaml
  autoware_launch/config/system/diagnostics/dummy_diag_publisher.param.yaml
  autoware_launch/config/system/diagnostics/hardware.yaml
  autoware_launch/config/system/diagnostics/localization.yaml
  autoware_launch/config/system/diagnostics/map.yaml
  autoware_launch/config/system/diagnostics/perception.yaml
  autoware_launch/config/system/diagnostics/planning.yaml
  autoware_launch/config/system/diagnostics/system.yaml
  autoware_launch/config/system/diagnostics/vehicle.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:control, component:localization, component:map, component:perception, component:planning, component:simulation, component:system

copy diag
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation, component:system

add
  autoware_launch/config/system/tier4_diagnostics/autoware-awsim.yaml
  autoware_launch/config/system/tier4_diagnostics/autoware-main.yaml
  autoware_launch/config/system/tier4_diagnostics/control.yaml
  autoware_launch/config/system/tier4_diagnostics/dummy_diag_publisher.param.yaml
  autoware_launch/config/system/tier4_diagnostics/hardware.yaml
  autoware_launch/config/system/tier4_diagnostics/localization.yaml
  autoware_launch/config/system/tier4_diagnostics/map.yaml
  autoware_launch/config/system/tier4_diagnostics/perception.yaml
  autoware_launch/config/system/tier4_diagnostics/planning.yaml
  autoware_launch/config/system/tier4_diagnostics/system.yaml
  autoware_launch/config/system/tier4_diagnostics/vehicle.yaml
Labels: component:control, component:localization, component:map, component:perception, component:planning, component:system

feat(rviz): add rviz config for debugging (#1213)
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
  autoware_launch/rviz/perception.rviz
  autoware_launch/rviz/planning_bev.rviz
  autoware_launch/rviz/planning_tpv.rviz
Labels: component:perception, component:planning, component:simulation, component:ui

feat(rviz): show velocity/steering factors (#1235)
  autoware_launch/rviz/planning_bev.rviz
  autoware_launch/rviz/planning_tpv.rviz
Labels: component:planning, component:ui

fix(rviz): update AutowareScreenCapturePanel class path in rViz configuration files
  autoware_launch/rviz/perception.rviz
  autoware_launch/rviz/planning_bev.rviz
  autoware_launch/rviz/planning_tpv.rviz
Labels: component:perception, component:planning, component:ui

chore(control): tune 60kmph param (#895)
  autoware_launch/config/control/trajectory_follower/2/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/9/lateral/mpc.param.yaml
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
  autoware_launch/config/planning/scenario_planning/common/common.param.yaml
Labels: none

feat(mpc.param.yaml): fix vehicle_model_steer_tau to restrain unstable trajectories for v0.46.0 (#934)
  autoware_launch/config/control/trajectory_follower/1/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/10/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/2/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/3/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/4/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/5/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/6/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/7/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/9/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/awsim_jpt/lateral/mpc.param.yaml
Labels: none

feat(ci): automatic cherry-pick (#1030)
  .github/workflows/automatic-cherry-pick.yaml
Labels: type:ci

chore(avoidance): tighten static obstacle avoidance hard margin for truck, bus and trailer
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

po
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation, component:system

build tier4 settings
  autoware_launch/config/system/tier4_diagnostics/autoware-main.yaml
  autoware_launch/config/system/tier4_diagnostics/control.yaml
  autoware_launch/config/system/tier4_diagnostics/dummy_diag_publisher.param.yaml
  autoware_launch/config/system/tier4_diagnostics/localization.yaml
  autoware_launch/config/system/tier4_diagnostics/map.yaml
  autoware_launch/config/system/tier4_diagnostics/perception.yaml
  autoware_launch/config/system/tier4_diagnostics/planning.yaml
  autoware_launch/config/system/tier4_diagnostics/system.yaml
  autoware_launch/config/system/tier4_diagnostics/vehicle.yaml
Labels: component:control, component:localization, component:map, component:perception, component:planning, component:system

add sensing.yaml
  autoware_launch/config/system/tier4_diagnostics/sensing.yaml
Labels: component:sensing

remove _remove_ duplizated_node_checker
  autoware_launch/config/system/tier4_diagnostics/autoware-awsim.yaml
Labels: none

restore _diagnostics_ dir_
  autoware_launch/config/system/diagnostics/control.yaml
Labels: component:control

po
  autoware_launch/config/system/diagnostics/control.yaml
Labels: component:control

feat(motion_velocity_smoother): force slow driving (#899)
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
Labels: none

chore(start_planner): tighten shift collision check (#983)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

fix(pid_longitudinal_controller): revive hysteresis of state transition (#1219)
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

feat(system_monitor): modify net_monitor parameters (#1048)
  autoware_launch/config/system/system_monitor/net_monitor.param.yaml
Labels: none

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"
