Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

feat(goal_planner): prioritize pull over path by curvature (#1048)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

feat(goal_planner): prioritize pull over path by curvature (#1048) (#501)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

chore: change to camera_lidar_fusion mode
  autoware_launch/launch/autoware.launch.xml
Labels: none

feat(start_planner): set end_pose_curvature_threshold 0.1
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

feat(start_planner): set end_pose_curvature_threshold 0.1
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

0.5
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

chore: set intersection occlusion as false (#709)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
Labels: none

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

update lon contrl params
  autoware_launch/config/control/trajectory_follower/1/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/10/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/2/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/3/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/4/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/5/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/6/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/7/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/8/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/9/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/default/longitudinal/pid.param.yaml
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
Labels: none

change param
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
Labels: none

change pid long con params
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

change max pitch
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

change param
  autoware_launch/config/control/trajectory_follower/1/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/10/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/2/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/3/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/4/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/5/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/6/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/7/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/8/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/9/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/awsim_jpt/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/default/longitudinal/pid.param.yaml
Labels: none

pick dda9aff (#910)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

do not use all predicted path
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

fix(tier4_perception_component.launch.xml): Restore previously removed comments
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

fix(tier4_perception_component.launch.xml): Revert to original parameters of traffic_light_recognition
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

chore(other.yaml): Chore/diag config (#713)
  autoware_launch/config/system/system_diagnostic_monitor/others.yaml
Labels: none

fix(tier4_perception_component.launch.xml): remove the duplicated settings of traffic_light_recognition
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

the equivalent PID parameters
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

a large ki suitable to compensate the bias
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

good parameters for the PID controller
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

equivalent PID controller. Note that the min_out and max_out do not match
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

a promising combinations of the parameters for the nominal PID
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

jerk-based pid (corrected)
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

change coefficients based on the stability proof
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

good ki
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

correct the stability proof
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

chore(e2e_simulator): use normal rviz (#913)
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/rviz/awsim.rviz
Labels: component:simulation, component:ui

chore(e2e_simulator): use normal rviz (#913)
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/rviz/awsim.rviz
Labels: component:simulation, component:ui

enable AEB emergency stops
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-awsim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
  autoware_launch/config/system/mrm_emergency_stop_operator/mrm_emergency_stop_operator.param.yaml
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control

enable AEB emergency stops
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-awsim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
  autoware_launch/config/system/mrm_emergency_stop_operator/mrm_emergency_stop_operator.param.yaml
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control

feat(start_planner): set end_pose_curvature_threshold 0.1 (#1088)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

feat(start_planner): set end_pose_curvature_threshold 0.1 (#1088) (#511)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

fix(static_obstacle_avoidance): check stopped time in freespace (#1074)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

feat(static_obstacle_avoidance): add new option to change policy (#1065)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

fix(object_lanelet_filter): radar object lanelet filter parameter update (#1032)
  autoware_launch/config/perception/object_recognition/detection/object_filter/object_lanelet_filter.param.yaml
  autoware_launch/config/perception/object_recognition/detection/object_filter/radar_lanelet_filter.param.yaml
Labels: none

Revert "fix(api): disable rosbridge to fix duplicated node (#497)"
  autoware_launch/launch/components/tier4_autoware_api_component.launch.xml
Labels: none

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"
