Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

add info marker and override for state
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

make stop wall viz default
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

enable imu to test on scenario sim
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control

disable visibility_validation-error
  autoware_launch/config/system/system_diagnostic_monitor/others.yaml
Labels: none

set stop_line params
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/stop_line.param.yaml
Labels: none

remove dead band of ekf
  autoware_launch/config/localization/ekf_localizer.param.yaml
Labels: none

launch localization on psim
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

reduce stop_line time
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/stop_line.param.yaml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

add acc fb params
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

enable localization on psim
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

feat(out_of_lane): add lateral buffer between the lane and stop pose (#1098)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/out_of_lane.param.yaml
Labels: none

feat(out_of_lane): add parameter to ignore objects behind ego (#1062)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/out_of_lane.param.yaml
Labels: none

set parameter to true (ignore behind objects)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/out_of_lane.param.yaml
Labels: none

tune feedback params for Td:0.2 Tc:0.1
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

feat(out_of_lane): add lateral buffer between the lane and stop pose (#524)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/out_of_lane.param.yaml
Labels: none

use separate rss for parked vehicle
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

enable MRM
  autoware_launch/config/system/emergency_handler/emergency_handler.param.yaml
Labels: none

feat(behavior_path _planner): divide planner manager modules into dependent slots (#1091)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/scene_module_manager.param.yaml
Labels: none

feat(lane_change): add param for lateral angle deviation (#1087)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

feat(lane_change): use different rss param to deal with parked vehicle (#1104)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

fix(static_obstacle_avoidance): change parameter
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

feat (obstacle_cruise_planner): increase safe distance mergin to 6.0m
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

add skip process lon dist diff threshold
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

set all longitudinal velocity delta time to 0.0
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

feat(motion_velocity_smoother)!: added force acceleration based parameter (#870)
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
Labels: none

feat(motion_velocity_smoother): force slow driving (#899)
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
Labels: none

fix spelling mistake
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
Labels: none

tune error rate (#924)
  autoware_launch/config/system/component_state_monitor/topics.yaml
Labels: none

tune error rate (#924)
  autoware_launch/config/system/component_state_monitor/topics.yaml
Labels: none

chore(control): tune 60kmph param (#895)
  autoware_launch/config/control/trajectory_follower/2/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/9/lateral/mpc.param.yaml
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
  autoware_launch/config/planning/scenario_planning/common/common.param.yaml
Labels: none

fix: add parameter for pid
  autoware_launch/config/control/trajectory_follower/1/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/1/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/10/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/10/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/2/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/2/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/3/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/3/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/4/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/4/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/5/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/5/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/6/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/6/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/7/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/7/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/8/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/8/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/9/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/9/longitudinal/pid.param.yaml
Labels: none

fix conflict: delete update for carla_interface.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
Labels: component:simulation

fix conflict: maintain original params
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
Labels: none

resolve conflict
  autoware_launch/config/control/trajectory_follower/1/longitudinal/pid.param.yaml
Labels: none

resolve conflict
  autoware_launch/config/control/trajectory_follower/7/longitudinal/pid.param.yaml
Labels: none

change use_emergency_handling to false from true
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
Labels: none

fix(mpc_lateral_controller): publish predicted trajectory in Frenet coordinate and visualize it on Rviz
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

fix(mpc_lateral_controller): publish predicted trajectory in Frenet coordinate and visualize it on Rviz (#533)
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

launch localization on psim
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

feat: remove emergency braking from autoware-psim.yaml and enable it in tier4_control_component.launch.xml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"
