Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"

update parameter
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: none

feat(diagnostic_aggregator): create diagnostic aggregator for PSim (#956)
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

feat(goal_planner): increase lane depature check margin
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

disable defgault view of info marker for aeb
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

update params for speed
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

update run out params to be less conservative
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
Labels: none

feat/tune run out for beta/v0.29.0 (#593)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
Labels: none

speed up run out response
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
Labels: none

update pid.param.yaml
  autoware_launch/config/control/trajectory_follower/1/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/10/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/2/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/3/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/4/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/5/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/6/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/7/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/8/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/9/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/awsim_jpt/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/default/longitudinal/pid.param.yaml
Labels: none

chore(trajectory_follower): change control parameter for jpt8 (#966)
  autoware_launch/config/control/trajectory_follower/8/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/8/longitudinal/pid.param.yaml
Labels: none

update
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control

connect velocity diag to mrm stop vehicle_cmd_gate: handle emergency set emergency stop jerk can be stopped on slope
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/control.yaml
  autoware_launch/config/system/mrm_emergency_stop_operator/mrm_emergency_stop_operator.param.yaml
  autoware_launch/launch/components/tier4_system_component.launch.xml
Labels: component:control, component:system

add lpf and hold
  autoware_launch/config/control/control_validator/control_validator.param.yaml
Labels: component:control

feat(control_validator)!: add velocity check (#1050)
  autoware_launch/config/control/control_validator/control_validator.param.yaml
Labels: component:control

add acc feedback params
  autoware_launch/config/control/trajectory_follower/2/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/default/longitudinal/pid.param.yaml
Labels: none

launch loc on psim
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

feat(psim)!: change a setting parameter type from bool to string (#1106)
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

feat(psim)!: preapre settings to launch localization modules on psim (#1094)
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

set stop_line params
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/stop_line.param.yaml
Labels: none

feat(simple_planning_simulator): add actuation command simulator (#1078)
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

disable planning modules
  autoware_launch/config/planning/preset/xx1_preset.yaml
Labels: none

disable unused control diag
  autoware_launch/config/system/diagnostic_graph_aggregator/control.yaml
Labels: component:control

add changes to activate emergency brakes
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control

change feedback params
  autoware_launch/config/control/trajectory_follower/2/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/default/longitudinal/pid.param.yaml
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

treat transfusion_model
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

change AEB params
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control

update params
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

change min height
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

update params
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

control validator: change params
  autoware_launch/config/control/control_validator/control_validator.param.yaml
Labels: component:control

add xx1 suffix to param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/transfusion_xx1.param.yaml
Labels: none

del xx1 suffix
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

update params for aeb arc coord
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

feat: use transfusion
  autoware_launch/config/perception/object_recognition/detection/lidar_model/transfusion_xx1.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

style(pre-commit): autofix
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Update autoware_launch/config/control/trajectory_follower/3/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/3/longitudinal/pid.param.yaml
Labels: none

Update autoware_launch/config/control/trajectory_follower/9/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/9/longitudinal/pid.param.yaml
Labels: none

feat(run_out): speed up run out response (#1163)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
Labels: none

chore(planning): add maintainer (#1161)
  .github/CODEOWNERS
Labels: type:ci

add arg result_archive_path to tier4_planning_component.launch
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation
