Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"

feat: add parameters for restart suppression in crosswalk (#1160)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: none

feat(mission_planner): add option to prevent rerouting in autonomous driving mode (#1153)
  autoware_launch/config/planning/mission_planning/mission_planner/mission_planner.param.yaml
Labels: none

chore: 60kmph params
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
  autoware_launch/config/planning/scenario_planning/common/common.param.yaml
Labels: none

tmp 60kmph
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
  autoware_launch/config/planning/scenario_planning/common/common.param.yaml
Labels: none

Revert "fix(obstacle_cruise_planner): tune obstacle_cruise_planner for cruising front NPCs in dense urban ODD scenarios (#1166)"
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

set param for max imu path distance
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

change param
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

Update autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
Labels: none

Update autoware_launch/config/planning/scenario_planning/common/common.param.yaml
  autoware_launch/config/planning/scenario_planning/common/common.param.yaml
Labels: none

feat(obstacle_cruise_planner): improve stop and cruise behavior for cut-in & out
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

reduce path for cruise
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

feat(preset): add preset
  autoware_launch/config/planning/preset/alpha_preset.yaml
  autoware_launch/config/planning/preset/beta_preset.yaml
Labels: none

match with odaiba tests
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

tmp/murooka/disable-merge-from-private
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: none

feat(obstacle_cruise_planner): improve stop and cruise behavior for cut-in & out
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

reduce path for cruise
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

chore(obstacle_cruise_planner): safe_distance_margin to 5.0m (#970)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

feat(gen2): integration for gen2 (#974)
  autoware_launch/config/perception/occupancy_grid_map/multi_lidar_pointcloud_based_occupancy_grid_map.param.yaml
  autoware_launch/config/system/component_state_monitor/topics_gen2.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/components/traffic_light_recognition/traffic_light.launch.xml
Labels: component:map, component:perception, component:system

chore(mrm): relax deceleration and jerk limit (#975)
  autoware_launch/config/system/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator.param.yaml
  autoware_launch/config/system/mrm_emergency_stop_operator/mrm_emergency_stop_operator.param.yaml
Labels: none

po
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

feat(goal_planner): set lane departure check margin 0.3
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

chore(start_planner): shorten the stopping time of geometric pull out (#955)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

chore(dynamic_obstacle_avoidance): increase max_lat_offset_to_avoid (#954)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/dynamic_obstacle_avoidance.param.yaml
Labels: none

feat(obstacle_cruise_planner): improve stop and cruise behavior for cut-in & out (#1142)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

revert(obstacle_cruise): reduce using predicted paths to maintain conventional behavior (#621)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

revert(obstacle_cruisse): revert "fix(obstacle_cruise_planner): guarantee the stop margin (#1076)" (#1185)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

feat(diagnostic_graph_aggregator): add hardware and sensing settings (#973)
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-awsim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-main.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/hardware.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/sensing.yaml
  autoware_launch/config/system/dummy_diag_publisher/dummy_diag_publisher.param.yaml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
Labels: component:sensing, component:simulation, component:system

feat(obstacle_cruise)!: improve obstacle_cruise (#625)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

use transfusion
  autoware_launch/config/perception/object_recognition/detection/lidar_model/transfusion_xx1.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Update tier4_perception_component.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: type:ci

chore: sync files
  .github/workflows/backport.yaml
  .github/workflows/build-and-test.yaml
  .github/workflows/github-release.yaml
  .github/workflows/pre-commit-optional.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/spell-check-differential.yaml
  .github/workflows/sync-files.yaml
Labels: type:ci

ci(pre-commit): autoupdate
  .pre-commit-config.yaml
Labels: type:ci

fix(autoware_launch): occupancy_grid_map_method (#985)
  autoware_launch/launch/autoware.launch.xml
Labels: none

feat(motion_velocity_smoother)!: added force acceleration based parameter (#870)
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
Labels: none

feat(motion_velocity_smoother): force slow driving (#899)
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
Labels: none

fix spelling mistake
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
Labels: none

feat(mission_planner): add option to prevent rerouting in autonomous driving mode (#1153)
  autoware_launch/config/planning/mission_planning/mission_planner/mission_planner.param.yaml
Labels: none

enable acc feedback (#989)
  autoware_launch/config/control/trajectory_follower/2/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/4/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/5/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/8/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/9/longitudinal/pid.param.yaml
Labels: none

update transfusion model name (#990)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception
