Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"

update mpc input_delay parameter (#1054)
  autoware_launch/config/control/trajectory_follower/9/lateral/mpc.param.yaml
Labels: none

reduce mrm_comfortable_stop jerk parameter (#1057)
  autoware_launch/config/system/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator.param.yaml
Labels: none

disable automatic cherry-pick to beta/v0.46 branch (#1061)
  .github/workflows/automatic-cherry-pick.yaml
Labels: type:ci

fix(static_obstacle_avoidance): improve avoidance for parked NPCs (#1129)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

fix(dynamic_obstacle_avoidance): improve avoidance for moving NPCs (#1170)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/dynamic_obstacle_avoidance.param.yaml
Labels: none

Revert "fix(dynamic_obstacle_avoidance): improve avoidance for moving NPCs (#1170)"
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/dynamic_obstacle_avoidance.param.yaml
Labels: none

feat(lane_change): add delay lane change parameters (#1256)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

Revert "fix(static_obstacle_avoidance): improve avoidance for parked NPCs (#1129)"
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

feat(diag): use tier4 diag graph settings (#705)
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation, component:system

clean unnecessary parameters
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

not sync github-release
  .github/sync-files.yaml
Labels: type:ci

Revert "Merge pull request #1062 from tier4/sync-tier4-upstream" (#1064)
  .github/workflows/comment-on-pr.yaml
  autoware_launch/config/system/system_monitor/net_monitor.param.yaml
  autoware_launch/config/system/tier4_diagnostics/autoware-main.yaml
  autoware_launch/config/system/tier4_diagnostics/dummy_diag_publisher.param.yaml
  autoware_launch/config/system/tier4_diagnostics/hardware.yaml
  autoware_launch/config/system/tier4_diagnostics/sensing.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_control_component.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: type:ci, component:control, component:planning, component:sensing, component:simulation, component:system

fix(diagnostic_graph_aggregator): update hardware and sensing (#1065)
  autoware_launch/config/system/tier4_diagnostics/autoware-main.yaml
Labels: none

ci(sync-beta-upstream): v0.48 beta sync
  .github/workflows/sync-beta-upstream.yaml
Labels: type:ci

change RViz display settings for passengers
  autoware_launch/rviz/autoware_debug.rviz
Labels: component:ui

chore(automatic-cherry-pick): add beta/v0.48 (#1075)
  .github/workflows/automatic-cherry-pick.yaml
Labels: type:ci

feat: update parameters for new image based projection fusion node
  autoware_launch/config/perception/object_recognition/detection/image_projection_based_fusion/fusion_common.param.yaml
Labels: none

chore: more comment
  autoware_launch/config/perception/object_recognition/detection/image_projection_based_fusion/fusion_common.param.yaml
Labels: none

Fixed sync-awf-latest schedule
  .github/workflows/sync-awf-latest.yaml
Labels: type:ci

path_generator
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: none

chore: sync files
  .github/workflows/build-and-test.yaml
  .pre-commit-config.yaml
Labels: type:ci

chore(run_out): loose reaction
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
Labels: none

po
  autoware_launch/config/system/tier4_diagnostics/control.yaml
Labels: component:control

feat(launcher): add waypoint following
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/rviz/autoware.rviz
  src/launcher/autoware_launch/autoware_launch/config/planning/scenario_planning/waypoint_following/waypoint_maker.param.yaml
Labels: component:planning, component:ui

feat(launcher): launch waypoint following module
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: none

feat(goal_planner): expand outer collision check margin (#1365)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

feat: add waypoint_maker param
  autoware_launch/config/planning/scenario_planning/waypoint_following/waypoint_maker.param.yaml
Labels: none

feat(freespace_planner_param): update parameters for improved freespace_planner module.
  autoware_launch/config/planning/scenario_planning/parking/freespace_planner/freespace_planner.param.yaml
Labels: none

fix(roi_pointcloud_fusion): add roi scale factor param (#1376)
  autoware_launch/config/perception/object_recognition/detection/image_projection_based_fusion/roi_pointcloud_fusion.param.yaml
Labels: none

feat: add parameter for irregular object pipeline (#1381)
  autoware_launch/config/perception/object_recognition/detection/irregular_object_detection/irregular_object_detector.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

fix argument passing for transfusion/centerpoint (#1078)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

remove CODEOWNERS (#1173)
  .github/CODEOWNERS
Labels: type:ci
