Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

add params
  autoware_launch/config/control/lane_departure_checker/lane_departure_checker.param.yaml
Labels: none

chore(start_planner): tighten shift collision check (#864)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

fix(static_obstacle_avoidance): tune parked vehicle condition
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

chore(planning_launch): update motion module name
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/Analytical.param.yaml
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/JerkFiltered.param.yaml
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/L2.param.yaml
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/Linf.param.yaml
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/autoware_path_optimizer/path_optimizer.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: component:planning, component:ui

change obj acc
  autoware_launch/config/control/autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

modify params
  autoware_launch/config/control/autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
  autoware_launch/config/system/mrm_emergency_stop_operator/mrm_emergency_stop_operator.param.yaml
Labels: none

cahgne params due to poor simulation
  autoware_launch/config/control/autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

enable AEB
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.planning_simulation.param.yaml
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control, component:planning, component:system

deactivate imu cuz scenario test does not use it
  autoware_launch/config/control/autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

add cruise planner
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: none

tmp(rtc): disable auto mode
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/rtc_replayer/rtc_replayer.param.yaml
Labels: none

feat(rviz): show avoidance marker
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

feat(avoidance): check object pose covariance
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

change params to force activation
  autoware_launch/config/control/autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

activate AEB
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control

add param
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

Merge pull request #866 from tier4/dm/use_vanilla_mpc (#867)
  autoware_launch/config/control/trajectory_follower/default/lateral/mpc.param.yaml
Labels: none

abandon_to_stop
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

enable abandon to stop against unknown objects
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

chore: sync files
  .github/workflows/build-and-test.yaml
Labels: type:ci

chore(mpc_controller): tune mpc parameters for Taxi4# and Taxi9# (#869)
  autoware_launch/config/control/trajectory_follower/4/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/9/lateral/mpc.param.yaml
Labels: none

fix: enable camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Revert "Merge pull request #866 from tier4/dm/use_vanilla_mpc (#867)"
  autoware_launch/config/control/trajectory_follower/default/lateral/mpc.param.yaml
Labels: none

Merge pull request #875 from tier4/dm/set_steer_tau (#877)
  autoware_launch/config/control/trajectory_follower/default/lateral/mpc.param.yaml
Labels: none

chore(tier4_autoware_api): disable rosbridge (#878)
  autoware_launch/launch/components/tier4_autoware_api_component.launch.xml
Labels: none

feat(blind_spot): consider time to collision (#1002) (#862)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/blind_spot.param.yaml
Labels: none

feat: add mpc and pid params for vehicle 8, fix avoidance params
  autoware_launch/config/control/trajectory_follower/8/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/8/longitudinal/pid.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
Labels: none

test commit
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

feat: select occupancy_grid_map_method by sensor_model
  autoware_launch/launch/autoware.launch.xml
Labels: none

feat: recgnize traffic_light modules
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/components/traffic_light_recognition/traffic_light.launch.xml
  autoware_launch/launch/components/traffic_light_recognition/traffic_light_occlusion_predictor.launch.py
Labels: component:perception

feat: treat multi lidar pointcloud params
  autoware_launch/config/perception/occupancy_grid_map/multi_lidar_pointcloud_based_occupancy_grid_map.param.yaml
Labels: component:map

style(pre-commit): autofix
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/traffic_light_recognition/traffic_light.launch.xml
  autoware_launch/launch/components/traffic_light_recognition/traffic_light_occlusion_predictor.launch.py
Labels: none

add option for autoware launch
  autoware_launch/launch/autoware.launch.xml
Labels: none

style(pre-commit): autofix
  autoware_launch/launch/autoware.launch.xml
Labels: none

feat: update mpc, pid params for gen2
  autoware_launch/config/control/trajectory_follower/8/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/8/longitudinal/pid.param.yaml
Labels: none

fix: use occupancy_grid_map_method
  autoware_launch/launch/autoware.launch.xml
Labels: none

style(pre-commit): autofix
  autoware_launch/launch/autoware.launch.xml
Labels: none

fix: launch_api
  autoware_launch/launch/autoware.launch.xml
Labels: none

tmp: try gen2 topics.yaml
  autoware_launch/config/system/component_state_monitor/topics.yaml
Labels: none

fix: undo change of topics.yaml
  autoware_launch/config/system/component_state_monitor/topics.yaml
Labels: none

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"
