Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

po
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: component:simulation

update localization/accuracy node and name in diag_graph setting (#996)
  autoware_launch/config/system/diagnostic_graph_aggregator/localization.yaml
Labels: component:localization

fix(diagnostic_graph_aggregator, psim): remove hardware and sensing from monitoring list when using psim (#992)
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
Labels: none

fix(scene_module_manager): sync vanilla to foa (#991)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/scene_module_manager_foa.param.yaml
Labels: none

fix(pid): add emergency_jerk
  autoware_launch/config/control/trajectory_follower/2/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/4/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/5/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/8/longitudinal/pid.param.yaml
  autoware_launch/config/control/trajectory_follower/9/longitudinal/pid.param.yaml
Labels: none

enable AEB
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: none

change parameters for cargo_transport
  autoware_launch/config/planning/scenario_planning/common/common.param.yaml
Labels: none

change parameters for cargo_transport
  autoware_launch/config/planning/scenario_planning/common/common.param.yaml
Labels: none

enable AEB
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: none

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

tmp/murooka/disable-merge-from-private
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: none

feat(logging_ecu): add settings to monitor logging_ecu (#977)
  autoware_launch/config/system/diagnostic_graph_aggregator/hardware.yaml
  autoware_launch/config/system/system_monitor/net_monitor.logging.param.yaml
  autoware_launch/launch/components/ecu_monitoring.logging.launch.xml
  autoware_launch/launch/components/ecu_monitoring.logging.py
Labels: none

update params based in oodaiba tests
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

disable ocp
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: none

increase stop wall time
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

po
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/stop_line.param.yaml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

chore: update CODEOWNERS
  .github/CODEOWNERS
Labels: type:ci

chore: sync files
  .github/workflows/backport.yaml
  .github/workflows/build-and-test-differential.yaml
  .github/workflows/build-and-test.yaml
  .github/workflows/cancel-previous-workflows.yaml
Labels: type:ci

ci(pre-commit): autoupdate
  .pre-commit-config.yaml
Labels: type:ci

feat(autonomous_emergency_braking): change params to cater to urban scenario (#1197)
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

enable AEB
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: none

change parameters for cargo_transport
  autoware_launch/config/planning/scenario_planning/common/common.param.yaml
Labels: none

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception
