Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"

Revert "chore(tier4_perception_component): enable transfusion"
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

feat(lane_change): consider deceleration in safety check for cancel
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

change parameter name to a more expressive one
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

Change perception_mode parameter to centerpoint
  autoware_launch/launch/autoware.launch.xml
Labels: none

clean up duplicated arguments so that it takes input correctly (#946)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

enable MRM
  autoware_launch/config/system/emergency_handler/emergency_handler.param.yaml
Labels: none

fix(static_obstacle_avoidance): tune parameters
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

change to camera_lidar_fusion mode
  autoware_launch/launch/autoware.launch.xml
Labels: none

disable low_intensity_cluster_filter
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

fix(tier4_perception_component): use_traffic_light vice varsa (#950)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

fix(tier4_perception_component): use_traffic_light vice varsa (#950)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

feat(static_obstacle_avoidance): add parameter for envelope polygon creation (#1130)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

update perception settings
  autoware_launch/config/perception/object_recognition/detection/clustering/compare_map.param.yaml
  autoware_launch/config/perception/object_recognition/detection/clustering/outlier.param.yaml
  autoware_launch/config/perception/object_recognition/detection/clustering/voxel_grid.param.yaml
  autoware_launch/config/perception/object_recognition/detection/clustering/voxel_grid_based_euclidean_cluster.param.yaml
  autoware_launch/config/perception/object_recognition/detection/euclidean_cluster.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint_tiny.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/detection_class_remapper.param.yaml
  autoware_launch/config/perception/object_recognition/detection/lidar_model/pointpainting.param.yaml
  autoware_launch/config/perception/object_recognition/detection/object_lanelet_filter.param.yaml
  autoware_launch/config/perception/object_recognition/detection/object_merger/data_association_matrix.param.yaml
  autoware_launch/config/perception/object_recognition/detection/object_merger/overlapped_judge.param.yaml
  autoware_launch/config/perception/object_recognition/detection/object_position_filter.param.yaml
  autoware_launch/config/perception/object_recognition/detection/pointcloud_map_filter.param.yaml
  autoware_launch/config/perception/object_recognition/detection/roi_sync.param.yaml
  autoware_launch/config/perception/object_recognition/detection/voxel_grid.param.yaml
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/data_association_matrix.param.yaml
  autoware_launch/config/perception/occupancy_grid_map/laserscan_based_occupancy_grid_map.param.yaml
  autoware_launch/config/perception/occupancy_grid_map/pointcloud_based_occupancy_grid_map.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:map, component:perception

feat(avoidance): add force cancel parameter (#538)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

fix(static_obstacle_avoidance): cherry-pick AWF #1130 (#569)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

feat(static_obstacle_avoidance): change policy for ambiguous avoidance situation (#1113) (#541)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

update
  autoware_launch/config/perception/object_recognition/prediction/map_based_prediction.param.yaml
Labels: component:map

change AEB params
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control

update params
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

change min height
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

update perception settings
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: component:perception, component:simulation

reflect on individual
  autoware_launch/config/control/trajectory_follower/1/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/2/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/3/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/4/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/5/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/6/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/7/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/8/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/9/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/awsim_jpt/lateral/mpc.param.yaml
Labels: none

chore(velocity_smoother): increase force speed and acceleration (#948)
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
Labels: none

chore(obstacle_cruise_planner): safe_distance_margin to 6.0m (#949)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

feat(mpc.param.yaml): fix vehicle_model_steer_tau to restrain unstable trajectories for v0.46.0 (#934)
  autoware_launch/config/control/trajectory_follower/1/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/10/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/2/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/3/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/4/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/5/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/6/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/7/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/8/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/9/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/awsim_jpt/lateral/mpc.param.yaml
Labels: none

feat(out_of_lane): redesign to improve accuracy and performance (#1117)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/out_of_lane.param.yaml
Labels: none

add expansion params
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/dynamic_obstacle_avoidance.param.yaml
Labels: none

feat(out_of_lane): redesign to improve accuracy and performance (#1117) (#577)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/out_of_lane.param.yaml
Labels: none

po
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

feat(obstacle_cruise_planner): improve stop and cruise behavior for cut-in & out
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

fix param (#958)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
Labels: none

feat: add flag for delayed initial state in lateral MPC param configuration
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
Labels: none

feat: add flag for delayed initial state in lateral MPC param configuration
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

update params for processing speed
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

update back cluster tolerance
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

update out_of_lane param
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/out_of_lane.param.yaml
Labels: none

add parameter to enable/disable bound check
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

chore(tier4_pereption_component): add image_segmentation_based_filter option param (#1158)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

feat(goal_planner): dense goal candidate sampling in BusStopArea (#1156)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

feat: add parameters for restart suppression in crosswalk
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: none
