Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"

chore: disable unnecessary visualization in autoware.rviz
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

chore: Add RealTimeFactorSliderPanel to autoware.rviz
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

feat: Update autoware.rviz visualization settings for paths and trajectories
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

chore: update autoware.rviz visualization settings
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

feat: Increase radius of visualization for paths and trajectories in autoware.rviz
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

chore: update mpc.param.yaml with new CGMRES solver settings
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
Labels: none

chore: Update autoware.rviz visualization settings for paths and trajectories
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

feat: Update autoware.rviz visualization settings for paths and trajectories
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

feat: Update autoware.rviz visualization settings for paths and trajectories
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

feat: Update path smoothing and curvature calculation parameters
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
Labels: none

chore: Update autoware.rviz visualization settings for paths and trajectories
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

chore: Update autoware.rviz visualization settings for paths and trajectories
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

feat: Update MPC weights for lateral control
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
Labels: none

feat: Add back_objects_collision_check_margin to start_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

revert unnecessary change
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

cruise params (#994)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

feat(processing_time_checker): Add five module
  autoware_launch/config/system/processing_time_checker/processing_time_checker.param.yaml
Labels: none

po
  autoware_launch/config/control/control_validator/control_validator.param.yaml
Labels: component:control

add lpf and hold
  autoware_launch/config/control/control_validator/control_validator.param.yaml
Labels: component:control

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

enable AEB
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: none

change parameters for cargo_transport
  autoware_launch/config/planning/scenario_planning/common/common.param.yaml
Labels: none

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none

Change perception_mode parameter to camera_lidar_fusion
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Change perception_mode parameter to camera_lidar_radar_fusion
  autoware_launch/launch/autoware.launch.xml
Labels: none
