Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"

ci: add sync-beta-upstream for v3.1.0 (#459) (#697)
  .github/workflows/sync-beta-upstream.yaml
Labels: type:ci

add system_diagnotic_monitor config
  autoware_launch/config/system/system_diagnostic_monitor/autoware-main.yaml
  autoware_launch/config/system/system_diagnostic_monitor/autoware-psim.yaml
  autoware_launch/config/system/system_diagnostic_monitor/control.yaml
  autoware_launch/config/system/system_diagnostic_monitor/hardware.yaml
  autoware_launch/config/system/system_diagnostic_monitor/localization.yaml
  autoware_launch/config/system/system_diagnostic_monitor/map.yaml
  autoware_launch/config/system/system_diagnostic_monitor/perception.yaml
  autoware_launch/config/system/system_diagnostic_monitor/planning.yaml
  autoware_launch/config/system/system_diagnostic_monitor/system.yaml
  autoware_launch/config/system/system_diagnostic_monitor/vehicle.yaml
Labels: component:control, component:localization, component:map, component:perception, component:planning, component:system

update system diagnostic monitor config
  autoware_launch/config/system/system_diagnostic_monitor/autoware-main.yaml
  autoware_launch/config/system/system_diagnostic_monitor/control.yaml
  autoware_launch/config/system/system_diagnostic_monitor/hardware.yaml
  autoware_launch/config/system/system_diagnostic_monitor/localization.yaml
  autoware_launch/config/system/system_diagnostic_monitor/map.yaml
  autoware_launch/config/system/system_diagnostic_monitor/others.yaml
  autoware_launch/config/system/system_diagnostic_monitor/perception.yaml
  autoware_launch/config/system/system_diagnostic_monitor/planning.yaml
  autoware_launch/config/system/system_diagnostic_monitor/system.yaml
  autoware_launch/config/system/system_diagnostic_monitor/vehicle.yaml
Labels: component:control, component:localization, component:map, component:perception, component:planning, component:system

remove not working diag
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-main.yaml
  autoware_launch/config/system/system_diagnostic_monitor/localization.yaml
  autoware_launch/config/system/system_diagnostic_monitor/others.yaml
  autoware_launch/config/system/system_diagnostic_monitor/system.yaml
Labels: component:localization, component:system

remove unsupported diag
  autoware_launch/config/system/system_diagnostic_monitor/control.yaml
  autoware_launch/config/system/system_diagnostic_monitor/others.yaml
Labels: component:control

remove unused parameter file in diagnostic_graph_aggregator
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-awsim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware.planning_simulator.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/control.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/hardware.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/localization.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/map.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/others.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/perception.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/planning.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/sensing.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/system.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/vehicle.yaml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system

set params to make aeb stop ego
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/system/mrm_emergency_stop_operator/mrm_emergency_stop_operator.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.planning_simulation.param.yaml
Labels: component:planning, component:system

change params for sim
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

enable stop
  autoware_launch/config/system/system_error_monitor/system_error_monitor.awsim.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.planning_simulation.param.yaml
Labels: component:planning, component:system

update acc and jerk for emergency brakes
  autoware_launch/config/system/mrm_emergency_stop_operator/mrm_emergency_stop_operator.param.yaml
Labels: none

update AEB params
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
Labels: none

enable AEB
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.awsim.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.param.yaml
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control, component:system

disable cruise planner
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: none

add emergency stop for real vehicle
  autoware_launch/config/system/system_error_monitor/system_error_monitor.param.yaml
Labels: component:system

enable emergency stop and cruise planner
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.awsim.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.planning_simulation.param.yaml
Labels: component:planning, component:system

enable AEB in diag_graph_aggreagator
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-awsim.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-main.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
Labels: none

enable more things for AEB
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.planning_simulation.param.yaml
Labels: component:planning, component:system

tune jerk and acc
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
  autoware_launch/config/system/mrm_emergency_stop_operator/mrm_emergency_stop_operator.param.yaml
Labels: none

add sensing componet diag to system diagnostic monitor
  autoware_launch/config/system/system_diagnostic_monitor/autoware-main.yaml
  autoware_launch/config/system/system_diagnostic_monitor/sensing.yaml
Labels: component:sensing

style(pre-commit): autofix
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-main.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
  autoware_launch/config/system/system_diagnostic_monitor/autoware-main.yaml
  autoware_launch/config/system/system_diagnostic_monitor/control.yaml
  autoware_launch/config/system/system_diagnostic_monitor/hardware.yaml
  autoware_launch/config/system/system_diagnostic_monitor/localization.yaml
  autoware_launch/config/system/system_diagnostic_monitor/map.yaml
  autoware_launch/config/system/system_diagnostic_monitor/others.yaml
  autoware_launch/config/system/system_diagnostic_monitor/perception.yaml
  autoware_launch/config/system/system_diagnostic_monitor/planning.yaml
  autoware_launch/config/system/system_diagnostic_monitor/sensing.yaml
  autoware_launch/config/system/system_diagnostic_monitor/system.yaml
  autoware_launch/config/system/system_diagnostic_monitor/vehicle.yaml
Labels: component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:system

remove imu_monitor from system_diagnostic_monitor
  autoware_launch/config/system/system_diagnostic_monitor/sensing.yaml
Labels: component:sensing

disable sensing diag until aip_launcher fixed
  autoware_launch/config/system/system_diagnostic_monitor/autoware-main.yaml
Labels: none

fix autoware psim
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware-psim.yaml
Labels: none

prepare diag configuration for planning simulation
  autoware_launch/config/system/system_diagnostic_monitor/autoware-psim.yaml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

style(pre-commit): autofix
  autoware_launch/config/system/system_diagnostic_monitor/autoware-psim.yaml
Labels: none

feat: enabled drivers for awsim
  autoware_launch/launch/e2e_simulator.launch.xml
Labels: component:simulation

enable misc system diag
  autoware_launch/config/system/system_diagnostic_monitor/system.yaml
Labels: component:system

use dummy diag publisher
  autoware_launch/config/system/dummy_diag_publisher/dummy_diag_publisher.param.yaml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

disable avoidance_for_ambiguous_vehicle
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: none

make same crosswalk parameter as v3.0.0
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: none

make same lane change parameter as v3.0.0
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

feat(api): launch_deprecated_api=true
  autoware_launch/launch/components/tier4_autoware_api_component.launch.xml
Labels: none

feat(simple_planning_simulator): add actuation command simulator
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

change param
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
Labels: none

fix(api): disable rosbridge to fix duplicated node
  autoware_launch/launch/components/tier4_autoware_api_component.launch.xml
Labels: none

Merge pull request #900 from tier4/feat/unuse_path_smooth (#903)
  autoware_launch/config/control/trajectory_follower/1/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/10/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/2/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/3/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/4/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/5/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/6/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/7/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/8/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/9/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/awsim_jpt/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/default/lateral/mpc.param.yaml
Labels: none

feat (obstacle_cruise_planner): increase safe distance mergin to 6.0m
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

feat(dynamic_avoidance): shorter predicted path for pedestrians (#904)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_dynamic_obstacle_avoidance_module/dynamic_obstacle_avoidance.param.yaml
Labels: none

feat(crosswalk): more conservative when the ego pass first (#905)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: none

feat(goal_planner): prioritize pull over path by curvature (#1048) (#907)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none
