Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"

chore(system_error_monitor): update diag (#334)
  autoware_launch/config/system/system_error_monitor/diagnostic_aggregator/system.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.param.yaml
Labels: component:system

refactor(traffic_light_arbiter): add traffic_light_arbiter param file (#343)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: component:perception, component:simulation

feat(behavior_velocity_planner): change walkway stop line distance (#350)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/walkway.param.yaml
Labels: none

feat: launch V2X node in autoware launch (#349)
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

feat(behavior_path_planner): set params for short distance lane change (#351)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

feat(behavior_path_planner): configure dynamic drivable area expansion (#352)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/drivable_area_expansion.param.yaml
Labels: none

feat(autoware_launch): changes for shiojiri run (#356)
  autoware_launch/launch/autoware.launch.xml
Labels: none

feat(behavior_path_planner): tune for short distance lane change (#354)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

chore(avoidance): update road shoulder margin (#367)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
Labels: none

chore(rtc_auto_mode_manager): disable auto approval for the avoidance module (#361)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/rtc_replayer/rtc_replayer.param.yaml
Labels: none

change merge_from_private stop_margin to 0.5m
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
Labels: none

fix autoware launch (#885) (#886)
  autoware_launch/config/planning/preset/xx1_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/scene_module_manager_foa.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.awsim.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.planning_simulation.param.yaml
Labels: component:planning, component:system

feat(autoware_launch): no conflict of arc length between drivable area expansion and optimization path planning
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/drivable_area_expansion.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/autoware_path_optimizer/path_optimizer.param.yaml
Labels: none

feat(autoware_launch): set terminal obstacle stop margin to 6.0
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

chore(e2e_simulator_launch): disable V2X in e2e simulator (#378)
  autoware_launch/launch/e2e_simulator.launch.xml
Labels: component:simulation

feat(trajectory_follower): use trajectory for pitch calculation (#382)
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

feat(behavior_path_planner): prevent from approaching the curbstone (#384)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/autoware_path_optimizer/path_optimizer.param.yaml
Labels: none

Disable yaw bias estimation of EKF
  autoware_launch/config/localization/ekf_localizer.param.yaml
Labels: none

Adjust parameters according to vehicle size
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

chore: display virtul wall of obstacle cruise slowdown (#407)
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

fix: lidar_model_param_path (#388)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
Labels: component:perception, component:simulation

chore(tier4_simulator_component): change namespace1 to camera7 (#426)
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: component:simulation

fix(autoware_launch): tune avoidance clearance (#444)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
Labels: none

fix(autoware_launch): tune avoidance clearance for pedestrian (#477)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
Labels: none

feat(system_monitor): increase the number of monitored processes (#534)
  autoware_launch/config/system/system_monitor/process_monitor.param.yaml
Labels: none

fix(autoware_launch): revert obstacle_avoidance_planner parameter (#404)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/autoware_path_optimizer/path_optimizer.param.yaml
Labels: none

feat(autoware_launch): not keep stopped for steering convergence (#410)
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

chore: cherry pick misc (#423)
  autoware_launch/launch/autoware.launch.xml
Labels: none

hotfix(rviz): visualize mrm summary by default
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

fix(planning_launch): fix lane change param
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

feat(autoware_launch): update planning control parameters
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/rtc_replayer/rtc_replayer.param.yaml
Labels: none

fix
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
Labels: none

tuning for shiojiri (#432)
  autoware_launch/config/perception/occupancy_grid_map/binary_bayes_filter_updater.param.yaml
Labels: none

fix: disable unused roi_based_clustering for x2
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

feat(autoware_launch): sparse optimization path planning
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/autoware_path_optimizer/path_optimizer.param.yaml
Labels: none

feat(autoware_launch): add stop_on_curve feature in obstacle_cruise_planner
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

style(pre-commit): autofix
  autoware_launch/config/localization/ekf_localizer.param.yaml
Labels: none

update default parameter of threshold_observable_velocity_mps in EKF
  autoware_launch/config/localization/ekf_localizer.param.yaml
Labels: none

fix(autoware_launch): stabler drivable area expansion
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/drivable_area_expansion.param.yaml
Labels: none

Update autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
Labels: none
