Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

fix: update params for point paintings
  autoware_launch/config/perception/object_recognition/detection/lidar_model/pointpainting.param.yaml
Labels: none

ci: add sync-beta-upstream
  .github/workflows/sync-beta-upstream.yaml
Labels: type:ci

fix: update for gen2 original params
  autoware_launch/config/control/trajectory_follower/8/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/8/longitudinal/pid.param.yaml
Labels: none

fix: launch traffic_light rule
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

fix: undo change of launch config params
  autoware_launch/config/perception/object_recognition/detection/lidar_model/pointpainting.param.yaml
  autoware_launch/config/perception/occupancy_grid_map/multi_lidar_pointcloud_based_occupancy_grid_map.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/blind_spot.param.yaml
Labels: component:map

style(pre-commit): autofix
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/blind_spot.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

fix: delete comment out
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

fix: solve conflict
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

style(pre-commit): autofix
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

Update autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

chore(mpc): tune curve (#881)
  autoware_launch/config/control/trajectory_follower/7/lateral/mpc.param.yaml
Labels: none

fix(traffic_light_recognition): delete excessive f string (#883)
  autoware_launch/launch/components/traffic_light_recognition/traffic_light_occlusion_predictor.launch.py
Labels: none

add yaw threshold param
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

feat: add fault injection params for x2
  autoware_launch/config/simulator/fault_injection.param.yaml
Labels: none

change default parameter for scenario_simulation to true
  autoware_launch/launch/logging_simulator.launch.xml
Labels: component:simulation

chore: change control parameter for X2 (#231)
  autoware_launch/config/control/external_cmd_selector/external_cmd_selector.param.yaml
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
Labels: none

feat(system_launch): use mrm comfortable stop (#199)
  autoware_launch/config/system/emergency_handler/emergency_handler.param.yaml
Labels: none

chore: extend the range for ndt_scan_matching (#172)
  autoware_launch/config/localization/ndt_scan_matcher.param.yaml
  autoware_launch/config/localization/ndt_scan_matcher/pointcloud_preprocessor/crop_box_filter_measurement_range.param.yaml
Labels: none

feat(ground_segmentation): x2 setting
  autoware_launch/config/perception/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml
Labels: none

feat: specify input pointcloud for localization
  autoware_launch/launch/components/tier4_localization_component.launch.xml
Labels: component:localization

feat: use ml model provider (#304)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

feat(avoidance): change object_check_backward_distance from 100m to 10m (#388)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
Labels: none

feat(avoidance): can set stop/move judge threshold for each object class (#399)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
Labels: none

feat(start_planner): change lateral acceleration sampling num (#404)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

feat(start_planner): start with acceleration (#402)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

feat: change centerpoint model path (#314)
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
Labels: component:perception, component:simulation

fix: launch args of centerpoint model path do not work (#326)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
Labels: component:perception, component:simulation

chore(perception): change namespace of traffic light nodes (#342)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

chore(run_out): disable slow down limit (#332)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
Labels: none

chore(perception): set fusion_only to true (#341)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

chore(start_planner): disable back (#320)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

chore: update converged param (#318)
  autoware_launch/config/localization/ndt_scan_matcher.param.yaml
Labels: none

feat: disable lane departure checker (#317)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/autoware_path_optimizer/path_optimizer.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.param.yaml
Labels: component:system

feat(behavior_path_planner): update behavior path module config (#323)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/scene_module_manager.param.yaml
Labels: none

feat(avoidacne): update avoidance config (#324)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
Labels: none

fix: netmonitor config (#321)
  autoware_launch/config/system/system_monitor/net_monitor.param.yaml
Labels: none

chore: update perception settings (#329)
  autoware_launch/config/perception/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

feat: enable camera_lidar_radar_fusion (#330)
  autoware_launch/launch/autoware.launch.xml
Labels: none

fix autoware launch (#885)
  autoware_launch/config/planning/preset/xx1_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/scene_module_manager_foa.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.awsim.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.planning_simulation.param.yaml
Labels: component:planning, component:system

fix(occlusion_spot): add lacking param (#336)
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/Analytical.param.yaml
Labels: none

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"
