Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"

feat(lane_change): increat cancel delta_time to suppress chattering (#529)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

feat: enable use_intersection_area in avoidance (#524)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
Labels: none

feat(lane_change): tuning params for terminal stop distance (#525)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: none

feat(behavior_velocity_run_out): ignore momentary detection caused by… (#531)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/run_out.param.yaml
Labels: none

feat: add use_conservative_buffer_longitudinal in avoidance
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
Labels: none

feat: set use_conservative_buffer_longitudinal to false
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
Labels: none

feat: change emergency_state_overshoot_stop_dist: 1.5 -> 0.8 (#539)
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

fix: tune intersection of decision after stopping (#523)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
Labels: none

feat: tune pid longitudinal controller (#536)
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
Labels: none

feat(scenario_planning): change common jerk to 0.3 mainly for jerk filtered smoother (#456)
  autoware_launch/config/planning/scenario_planning/common/common.param.yaml
Labels: none

revert: feat(scenario_planning): change common jerk to 0.3 mainly for jerk filtered smoother (#456) (#542)
  autoware_launch/config/planning/scenario_planning/common/common.param.yaml
Labels: none

feat: use radar (#546)
  autoware_launch/launch/autoware.launch.xml
Labels: none

fix(tier4_perception_component): add detection by tracker option param (#540)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

chore: tune avoidance lateral margin (#549)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
Labels: none

chore(obstacle_cruise_planner): change min_behavior_stop_margin to prevent ego from approaching after stopping (#551)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

fix(perception): add detection by tracker param file (#548)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

chore(mpc): disable steering offset removal (#550)
  autoware_launch/config/control/trajectory_follower/lateral/mpc.param.yaml
Labels: none

feat: use optimization velocity smoother (#545)
  autoware_launch/config/planning/scenario_planning/common/common.param.yaml
Labels: none

fix: param name for `merge_from_private`
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
Labels: none

feat(intersection): check path margin for overshoot vehicles on redight (#654) (#555)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
Labels: none

feat(component_state_monitor): monitor pose_estimator output (#692) (#554)
  autoware_launch/config/system/component_state_monitor/topics.yaml
Labels: none

feat: x2 planning preset (#562)
  autoware_launch/config/planning/preset/x2_preset.yaml
Labels: none

feat: use x2 planning module preset (#569)
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

feat: include l4_toolkit (#576)
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

feat(planning): add enable_all_modules_auto_mode argument to launch f… (#577)
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

chore(traffic_light): update timeout threshold (#582)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/traffic_light.param.yaml
Labels: none

feat: add is_simulation variable in autoware.launch.xml (#889) (#584)
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation

feat(traffic_light_arbiter): add parameter of signal match validator (#579)
  autoware_launch/config/perception/traffic_light_arbiter/traffic_light_arbiter.param.yaml
Labels: none

feat(hazard_lights_selector): add hazard_lights_selector (#581)
  autoware_launch/config/system/hazard_lights_selector/hazard_lights_selector.param.yaml
  autoware_launch/launch/components/tier4_system_component.launch.xml
Labels: component:system

feat: tune condition of between cruise and stop (#565) (#590)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

feat: sp tuning for low obstacle (#578)
  autoware_launch/config/perception/object_recognition/detection/clustering/voxel_grid_based_euclidean_cluster.param.yaml
  autoware_launch/config/perception/object_recognition/detection/pointcloud_filter/pointcloud_map_filter.param.yaml
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/data_association_matrix.param.yaml
  autoware_launch/config/perception/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml
Labels: component:map

feat: launch diagnostic graph converter tool (#606)
  autoware_launch/launch/autoware.launch.xml
Labels: none

chore(diagnostic_graph_aggregator): update sensing.yaml for topic state monitor (#599)
  autoware_launch/config/system/diagnostic_graph_aggregator/sensing.yaml
Labels: component:sensing

chore(diagnostic_graph_aggregator): add slip detection (#596)
  autoware_launch/config/system/diagnostic_graph_aggregator/control.yaml
Labels: component:control

chore(diagnostic_graph_aggregator): add daytime monitor setting (#595)
  autoware_launch/config/system/diagnostic_graph_aggregator/others.yaml
Labels: none

feat(diagnostic_graph_aggregator): add timeout (#600)
  autoware_launch/config/system/diagnostic_graph_aggregator/control.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/hardware.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/localization.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/map.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/others.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/perception.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/planning.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/sensing.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/system.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/vehicle.yaml
Labels: component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:system

fix(perception_launch): remove unnecessary param (#597)
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

feat(diagnostic_graph_aggregator): add graph config files (#593)
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware.planning_simulator.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/control.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/hardware.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/localization.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/map.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/others.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/perception.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/planning.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/sensing.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/system.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/vehicle.yaml
Labels: component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system

chore(diagnostic_graph_aggregator): add autonomous emergency braking (#609)
  autoware_launch/config/system/diagnostic_graph_aggregator/control.yaml
Labels: component:control

feat(mrm_handler): enable comfortable stop
  autoware_launch/config/system/mrm_handler/mrm_handler.param.yaml
Labels: none
