Repository tier4/autoware_launch, changes with the labels that .github/labeler.yaml gives for each.
All labels: type:ci, type:documentation, component:control, component:localization, component:map, component:perception, component:planning, component:sensing, component:simulation, component:system, component:ui

feat(avoidance): wait next shift approval until the ego reaches shift length threshold (#891)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
Labels: none

chore(diagnotisc_graph_aggregator): update config (#615)
  autoware_launch/config/system/diagnostic_graph_aggregator/localization.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/others.yaml
Labels: component:localization

feat(avoidance): change lateral margin based on if it's parked vehicle (#894)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
Labels: none

feat: define common max_vel (#870)
  autoware_launch/config/planning/scenario_planning/common/common.param.yaml
Labels: none

fix(avoidance): tuning avoidance parameters for J6
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/avoidance/avoidance.param.yaml
Labels: none

chore(diagnostic_graph_aggregator): add heartbeat of MOT, signage and vehicle voice to config (#629)
  autoware_launch/config/system/diagnostic_graph_aggregator/others.yaml
Labels: none

fix(obstacle_cruise_planner): decrease slow down speed
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner.param.yaml
Labels: none

chore(diagnostic_graph_aggregator): enable emergency stop diag on pla… (#630)
  autoware_launch/config/system/diagnostic_graph_aggregator/autoware.planning_simulator.yaml
Labels: component:planning, component:simulation

chore(diagnostic_graph_aggregator): move MOT, signage and voice to ha… (#633)
  autoware_launch/config/system/diagnostic_graph_aggregator/hardware.yaml
  autoware_launch/config/system/diagnostic_graph_aggregator/others.yaml
Labels: none

chore(ground_segmentation): add default params (#831)
  autoware_launch/config/perception/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml
Labels: none

fix(diagnostic_graph_aggregator): fix slip detection diag timeout (#637)
  autoware_launch/config/system/diagnostic_graph_aggregator/control.yaml
Labels: component:control

fix(system_monitor): update temperature threshold (#639)
  autoware_launch/config/system/system_monitor/hdd_monitor.param.yaml
Labels: none

chore: update fault injection params (#634)
  autoware_launch/config/simulator/fault_injection.param.yaml
Labels: none

feat(fault injection): update params (#627)
  autoware_launch/config/simulator/fault_injection.param.yaml
Labels: none

fix: add use_lowest_point for other addtional lidar
  autoware_launch/config/perception/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml
Labels: none

fix(diagnostic_graph_aggregator): fix bagpacker status stale
  autoware_launch/config/system/diagnostic_graph_aggregator/system.yaml
Labels: component:system

chore(ground_segmentation): add tuning param (#946)
  autoware_launch/config/perception/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml
Labels: none

chore(diagnostic_graph_aggregator): fix typo in voice alert system (#635)
  autoware_launch/config/system/diagnostic_graph_aggregator/hardware.yaml
Labels: none

feat(mrm_handler): use mrm pull over (#640)
  autoware_launch/config/system/mrm_handler/mrm_handler.param.yaml
Labels: none

tune parameter to improve dynamic collision check
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: none

feat: apply new acceleration settings (#612)
  autoware_launch/config/control/trajectory_follower/longitudinal/pid.param.yaml
  autoware_launch/config/control/vehicle_cmd_gate/vehicle_cmd_gate.param.yaml
  autoware_launch/config/planning/scenario_planning/common/common.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/behavior_velocity_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
  autoware_launch/config/system/mrm_comfortable_stop_operator/mrm_comfortable_stop_operator.param.yaml
  autoware_launch/config/system/mrm_emergency_stop_operator/mrm_emergency_stop_operator.param.yaml
Labels: none

feat: add dummy diag (#641)
  autoware_launch/config/system/dummy_diag_publisher/dummy_diag_publisher.param.yaml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, component:simulation, component:system

chore(diagnostic_graph_aggregator): update timeout of daytime monitor (#644)
  autoware_launch/config/system/diagnostic_graph_aggregator/others.yaml
Labels: none

feat(motion_velocity_smoother): set 5kph for min velocity of lat acc filter (#646)
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
Labels: none

feat(obstacle_cruise): pseudo occlusion (#628)
  autoware_launch/config/planning/preset/x2_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/obstacle_cruise_planner/obstacle_cruise_planner_pseudo_occlusion.param.yaml
Labels: none

feat: update camera diagnostics (#652)
  autoware_launch/config/system/diagnostic_graph_aggregator/sensing.yaml
Labels: component:sensing

chore: update fault injection config (#645)
  autoware_launch/config/simulator/fault_injection.param.yaml
Labels: none

revert: "feat(motion_velocity_smoother): set 5kph for min velocity of … (#653)
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
Labels: none

chore: update camera diag of fault-injection config (#656)
  autoware_launch/config/simulator/fault_injection.param.yaml
Labels: none

feat(behavior_path_planner): disable backward parking (#661)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

chore: update left_upper visibility validation diag of fault-injection config (#658)
  autoware_launch/config/simulator/fault_injection.param.yaml
Labels: none

chore(ground_segmentation): reduce ground_segmentation range (#649)
  autoware_launch/config/perception/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml
Labels: none

chore: visibility tuning (#657)
  autoware_launch/config/system/diagnostic_graph_aggregator/others.yaml
Labels: none

chore: add vehicle_stuck_checker as emergency stop MRM (#654)
  autoware_launch/config/system/diagnostic_graph_aggregator/others.yaml
Labels: none

fix(diagnostics_graph_aggregator): update timeout (#655)
  autoware_launch/config/system/diagnostic_graph_aggregator/others.yaml
Labels: none

feat(behavior_path_planner): add drivable_area linestrings for dynamic (#660)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/drivable_area_expansion.param.yaml
Labels: none

feat(behavior_path_planner_common): add general method for calculating turn signal for bpp modules (#662)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/behavior_path_planner.param.yaml
Labels: none

chore(diagnostic_graph_aggregator): remove camera6-7 (#671)
  autoware_launch/config/system/diagnostic_graph_aggregator/sensing.yaml
Labels: component:sensing

feat(goal_planner): set longitudinal_margin: 6.0 (#666)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/goal_planner/goal_planner.param.yaml
Labels: none

feat(planning_validator): relax the threshold for min acceleration (#670)
  autoware_launch/config/planning/scenario_planning/common/planning_validator/planning_validator.param.yaml
Labels: component:planning

.github/labeler.yaml:

"type:ci":
  - .github/**/*
  - "*.json"
  - "*.yaml"
  - "*.cfg"
  - .clang-format
  - .gitignore
  - .prettierignore
"type:documentation":
  - "**/*.md"
  - "**/*.rst"
  - "**/*.jpg"
  - "**/*.png"
  - "**/*.svg"
"component:control":
  - "**/*control*"
"component:localization":
  - "**/*localization*"
"component:map":
  - "**/*map*"
"component:perception":
  - "**/*perception*"
"component:planning":
  - "**/*planning*"
"component:sensing":
  - "**/*sensing*"
"component:simulation":
  - "**/*simulator*"
"component:system":
  - "**/*system*"
"component:ui":
  - "**/*.rviz"
  - "**/rviz"
