Repository tier4/autoware_launch, pull requests merged in 2024-09, with the labels that each got.

#586 fix(tier4_perception_component): add image_segmentation_based_filter option param
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

#590 feat(aeb): update aeb to latest
  autoware_launch/config/control/autoware_autonomous_emergency_braking/autonomous_emergency_braking.param.yaml
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

#607 fix: parameters
  autoware_launch/config/system/emergency_handler/emergency_handler.param.yaml
  autoware_launch/config/system/system_monitor/net_monitor.param.yaml
  autoware_launch/config/system/system_monitor/ntp_monitor.param.yaml
  autoware_launch/launch/components/tier4_system_component.launch.xml
Labels: component:system

#610 fix(perception): for TLR on AWSIM
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
Labels: component:perception, component:simulation

#611 feat(system_error_monitor): delete system error monitor (#1178)
  autoware_launch/config/system/system_error_monitor/diagnostic_aggregator/system.param.yaml
  autoware_launch/config/system/system_error_monitor/diagnostic_aggregator/vehicle.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.awsim.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.param.yaml
  autoware_launch/config/system/system_error_monitor/system_error_monitor.planning_simulation.param.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
Labels: component:simulation, component:system, component:planning
