Repository tier4/autoware_launch, pull requests merged in 2024-12, with the labels that each got.

#700 feat(rviz): add debug rviz
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
  autoware_launch/rviz/perception.rviz
  autoware_launch/rviz/planning_bev.rviz
  autoware_launch/rviz/planning_tpv.rviz
Labels: component:perception, component:simulation, component:ui, component:planning

#685 chore(system_monitor): disable traffic monitor
  autoware_launch/config/system/system_monitor/net_monitor.param.yaml
Labels: enhancement, component:system, tag:run-build-and-test-differential

#699 feat(diag): build tier4 diag settings
  autoware_launch/config/system/tier4_diagnostics/autoware-awsim.yaml
  autoware_launch/config/system/tier4_diagnostics/autoware-main.yaml
  autoware_launch/config/system/tier4_diagnostics/control.yaml
  autoware_launch/config/system/tier4_diagnostics/dummy_diag_publisher.param.yaml
  autoware_launch/config/system/tier4_diagnostics/localization.yaml
  autoware_launch/config/system/tier4_diagnostics/map.yaml
  autoware_launch/config/system/tier4_diagnostics/perception.yaml
  autoware_launch/config/system/tier4_diagnostics/planning.yaml
  autoware_launch/config/system/tier4_diagnostics/sensing.yaml
  autoware_launch/config/system/tier4_diagnostics/system.yaml
  autoware_launch/config/system/tier4_diagnostics/vehicle.yaml
Labels: component:perception, component:system, component:planning, component:map, component:control, tag:run-build-and-test-differential, component:localization, component:sensing

#708 fix: the diag name of /localization/004-accuracy
  autoware_launch/config/system/tier4_diagnostics/localization.yaml
Labels: component:localization

#682 feat(rviz): visualize error diag graph
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: component:system, component:ui

#720 feat(diagnostics_graph_aggregator): add velocity control diags
  autoware_launch/config/system/tier4_diagnostics/control.yaml
Labels: component:control
