Repository tier4/autoware_launch, pull requests merged in 2024-11, with the labels that each got.

#655 feat(system_diagnostic_monitor): enable collision_detector
  autoware_launch/config/system/system_diagnostic_monitor/control.yaml
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control

#643 chore(simulator): rename the diagnostic_convertor to scenario_simulator_v2_adapter.
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:simulation, component:planning

#668 feat(aeb): set global param to override autoware state check (#1218)
  autoware_launch/launch/components/tier4_control_component.launch.xml
Labels: component:control

#675 feat: enable MRM summary
  autoware_launch/rviz/autoware.rviz
Labels: component:ui

#681 enable AEB
  autoware_launch/launch/components/tier4_control_component.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: component:ui, component:control

#690 chore: rename codeowners file
  .github/_CODEOWNERS
Labels: type:ci

#698 refactor(diag): fork diag graph settings from awf
  autoware_launch/config/system/tier4_diagnostics/autoware-awsim.yaml
  autoware_launch/config/system/tier4_diagnostics/autoware-main.yaml
  autoware_launch/config/system/tier4_diagnostics/control.yaml
  autoware_launch/config/system/tier4_diagnostics/dummy_diag_publisher.param.yaml
  autoware_launch/config/system/tier4_diagnostics/hardware.yaml
  autoware_launch/config/system/tier4_diagnostics/localization.yaml
  autoware_launch/config/system/tier4_diagnostics/map.yaml
  autoware_launch/config/system/tier4_diagnostics/perception.yaml
  autoware_launch/config/system/tier4_diagnostics/planning.yaml
  autoware_launch/config/system/tier4_diagnostics/system.yaml
  autoware_launch/config/system/tier4_diagnostics/vehicle.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
  autoware_launch/launch/e2e_simulator.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:perception, component:simulation, component:system, component:planning, component:map, component:control, component:localization
