Repository tier4/autoware_launch, pull requests merged in 2025-06, with the labels that each got.

#908 fix(irregular_object_detector): add param for roi_pointcloud (#1450)
  autoware_launch/config/perception/object_recognition/detection/irregular_object_detection/irregular_object_detector.param.yaml
Labels: run:build-and-test-differential

#913 fix(system): update perc diag name in mrm setting
  autoware_launch/config/system/tier4_diagnostics/dummy_diag_publisher.param.yaml
  autoware_launch/config/system/tier4_diagnostics/perception.yaml
Labels: run:build-and-test-differential

#925 fix: cherry pick pr1455 and pr1464
  autoware_launch/config/perception/object_recognition/detection/irregular_object_detection/irregular_object_detector.param.yaml
  autoware_launch/config/perception/obstacle_segmentation/ground_segmentation/ground_segmentation.param.yaml
Labels: run:build-and-test-differential

#930 feat(tier4_diagnostics): add config for new plannig validation feature
  autoware_launch/config/system/tier4_diagnostics/planning.yaml
Labels: component:planning, run:build-and-test-differential, tag:run-build-and-test-differential

#950 fix(autoware_launch): remove redundant lines
  autoware_launch/launch/autoware.launch.xml
Labels: run:build-and-test-differential

#953 fix(multi_object_tracker): disable debug markers in configuration for improved performance
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/multi_object_tracker_node.param.yaml
Labels: run:build-and-test-differential

#943 feat: increase MRM Emergency Stop deceleration
  autoware_launch/config/system/mrm_emergency_stop_operator/mrm_emergency_stop_operator.param.yaml
Labels: run:build-and-test-differential, tag:run-build-and-test-differential
