Repository tier4/autoware_launch, pull requests merged in 2025-08, with the labels that each got.

#1051 feat(blind_spot): new re-designed blind_spot module (#1582)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/blind_spot.param.yaml
Labels: run:build-and-test-differential

#1055 feat(boundary_departure): rename parameter (#1586)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/boundary_departure_prevention.param.yaml
Labels: run:build-and-test-differential

#1064 fix(multi_object_tracker): remove confident_count_threshold parameter (#1592)
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/multi_object_tracker_node.param.yaml
Labels: run:build-and-test-differential

#1065 chore(validator): cherry pick PRs
  autoware_launch/config/planning/scenario_planning/common/planning_validator/planning_validator.param.yaml
  autoware_launch/config/planning/scenario_planning/common/planning_validator/rear_collision_checker.param.yaml
  autoware_launch/config/planning/scenario_planning/common/planning_validator/trajectory_checker.param.yaml
Labels: component:planning, run:build-and-test-differential

#1084 chore: merge tier4/main to beta/v0.52
  .github/update-sync-param-files.py
  .github/workflows/backport.yaml
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/check-build-depends.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-awf-upstream.yaml
  .github/workflows/sync-beta-upstream.yaml
  .github/workflows/sync-tier4-upstream-up-to-tag.yaml
  .github/workflows/sync-tier4-upstream.yaml
  .pre-commit-config.yaml
  NOTICE
  autoware_launch/config/system/tier4_diagnostics/dummy_diag_publisher.param.yaml
  autoware_launch/config/system/tier4_diagnostics/perception.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:perception, component:planning, type:ci, run:build-and-test-differential

#1086 feat(diagnostics): add yaw and distance deviation validation paths to control and planning configurations
  autoware_launch/config/system/tier4_diagnostics/control.yaml
  autoware_launch/config/system/tier4_diagnostics/planning.yaml
Labels: component:planning, component:control, run:build-and-test-differential

#1087 feat(planning_validator): disable soft stop for trajectory shift feature
  autoware_launch/config/planning/scenario_planning/common/planning_validator/trajectory_checker.param.yaml
  autoware_launch/config/system/tier4_diagnostics/planning.yaml
Labels: component:planning, run:build-and-test-differential

#1090 feat(blind_spot): add the flag to ignore non vru (#1612)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/blind_spot.param.yaml
Labels: run:build-and-test-differential

#1094 feat(tracker): adjust generalized IoU threshold based on target object speed
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/multi_object_tracker_node.param.yaml
Labels: component:perception, run:build-and-test-differential

#1092 feat: add class-wise centerpoint score
  autoware_launch/config/perception/object_recognition/detection/lidar_model/centerpoint.param.yaml
Labels: run:build-and-test-differential

#1071 feat(perception_filter): add perception filter feature
  autoware_launch/config/planning/perception_filter/perception_filter.param.yaml
  autoware_launch/config/system/pipeline_latency_monitor/pipeline_latency_monitor.param.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/components/tier4_control_component.launch.xml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:perception, component:planning, component:control, run:build-and-test-differential

#1100 feat(obstacle_stop, motion_velocity_planner_common, motion_utils): update pointcloud stop
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/motion_velocity_planner.param.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_stop.param.yaml
Labels: run:build-and-test-differential

#1105 chore: merge tier4/main to beta/v0.53
  .github/update-sync-param-files.py
  .github/workflows/backport.yaml
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/check-build-depends.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-awf-upstream.yaml
  .github/workflows/sync-beta-upstream.yaml
  .github/workflows/sync-tier4-upstream-up-to-tag.yaml
  .github/workflows/sync-tier4-upstream.yaml
  .pre-commit-config.yaml
  NOTICE
  autoware_launch/config/system/tier4_diagnostics/dummy_diag_publisher.param.yaml
  autoware_launch/config/system/tier4_diagnostics/perception.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:perception, component:planning, type:ci, run:build-and-test-differential

#1104 feat(start_planner): prioritize planner type with list
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: run:build-and-test-differential
