Repository tier4/autoware_launch, pull requests merged in 2025-04, with the labels that each got.

#809 fix(tier4_diagnostics): remove lane departure trajectory deviation
  autoware_launch/config/system/tier4_diagnostics/control.yaml
Labels: component:control, run:build-and-test-differential, tag:run-build-and-test-differential

#816 feat: cherr-pick pr1376+1381 for irregular_object_detector pipeline
  autoware_launch/config/perception/object_recognition/detection/image_projection_based_fusion/roi_pointcloud_fusion.param.yaml
  autoware_launch/config/perception/object_recognition/detection/irregular_object_detection/irregular_object_detector.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception

#817 feat(planning): disable `launch_avoidance_by_lane_change_module`
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: run:build-and-test-differential

#824 chore: merge tier4/main into alpha/v0.44
  .github/update-sync-param-files.py
  .github/workflows/backport.yaml
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/check-build-depends.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-awf-upstream.yaml
  .github/workflows/sync-beta-upstream.yaml
  .github/workflows/sync-tier4-upstream-up-to-tag.yaml
  .github/workflows/sync-tier4-upstream.yaml
  .pre-commit-config.yaml
  NOTICE
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/traffic_light.param.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, type:ci

#840 chore: merge tier4/main to beta/v0.44
  .github/update-sync-param-files.py
  .github/workflows/backport.yaml
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/check-build-depends.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-awf-upstream.yaml
  .github/workflows/sync-beta-upstream.yaml
  .github/workflows/sync-tier4-upstream-up-to-tag.yaml
  .github/workflows/sync-tier4-upstream.yaml
  .pre-commit-config.yaml
  NOTICE
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/traffic_light.param.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, type:ci, run:build-and-test-differential

#842 feat(planning_validator): detect sudden trajectory shift
  autoware_launch/config/planning/scenario_planning/common/planning_validator/planning_validator.param.yaml
  autoware_launch/config/system/diagnostics/planning.yaml
  autoware_launch/config/system/tier4_diagnostics/planning.yaml
  autoware_launch/rviz/autoware.rviz
Labels: component:planning, run:build-and-test-differential

#845 feat(mvp_run_out): update for new motion_velocity_planner run_out
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/run_out.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: run:build-and-test-differential

#838 feat(control_validator, tier4_diagnostics): sync upstream
  autoware_launch/config/control/control_validator/control_validator.param.yaml
  autoware_launch/config/system/tier4_diagnostics/control.yaml
Labels: run:build-and-test-differential

#837 fix: use individual params
  autoware_launch/launch/autoware.launch.xml
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_launch/launch/imu.launch.xml
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_launch/launch/imu.launch.xml
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_launch/launch/imu.launch.xml
Labels: run:build-and-test-differential

#857 feat(dynamic_obstalce_stop): disable module
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: run:build-and-test-differential
