Repository tier4/autoware_launch, pull requests merged in 2025-07, with the labels that each got.

#960 feat: cherry-pick multi object tracker stable unknown
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/input_channels.param.yaml
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/multi_object_tracker_node.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: run:build-and-test-differential

#947 feat(autoware_multi_object_tracker): unknown as static object (#1481)
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/multi_object_tracker_node.param.yaml
Labels: component:perception, run:build-and-test-differential, tag:run-build-and-test-differential

#955 feat(intersection_occlusion): adjustable occlusion wall position for intersection without traffic_light (#1510)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
Labels: run:build-and-test-differential

#959 chore: cherry pick PRs for static obstacle avoidance module
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/autoware_behavior_path_static_obstacle_avoidance_module/static_obstacle_avoidance.param.yaml
Labels: run:build-and-test-differential

#967 fix(tier4_simulator_component): fix argument name in tier4_simulator_component.launch.xml
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: run:build-and-test-differential

#978 feat(velocity_smoother): implemting dynamic lateral acceleration and …
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
Labels: run:build-and-test-differential

#980 feat(velocity_smoother): implemting dynamic lateral acceleration and steering angle rate limit (#1495)
  autoware_launch/config/planning/scenario_planning/common/autoware_velocity_smoother/velocity_smoother.param.yaml
Labels: run:build-and-test-differential

#983 feat(run_out): enable new module and disable the previous one
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/run_out.param.yaml
Labels: run:build-and-test-differential

#985 feat(out_of_lane): validate predicted paths on lanelets (#1516)
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/out_of_lane.param.yaml
Labels: run:build-and-test-differential

#991 fix(lane_change): add curvature threshold for frenet planner #1536
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: run:build-and-test-differential

#993 fix(perception): enable dynamic map loading in pointcloud_filter
  autoware_launch/config/perception/object_recognition/detection/pointcloud_filter/pointcloud_map_filter.param.yaml
Labels: component:map, run:build-and-test-differential, tag:run-build-and-test-differential

#992 feat(perception): remove radar tracker and set tracked object lanelet filter (#1531)
  autoware_launch/config/perception/object_recognition/tracking/radar_object_tracker/data_association_matrix.param.yaml
  autoware_launch/config/perception/object_recognition/tracking/radar_object_tracker/default_tracker.param.yaml
  autoware_launch/config/perception/object_recognition/tracking/radar_object_tracker/radar_object_tracker.param.yaml
  autoware_launch/config/perception/object_recognition/tracking/radar_object_tracker/tracked_object_lanelet_filter.param.yaml
  autoware_launch/config/perception/object_recognition/tracking/radar_object_tracker/tracked_object_sorter.param.yaml
  autoware_launch/config/perception/object_recognition/tracking/radar_object_tracker/tracking/constant_turn_rate_motion_tracker.yaml
  autoware_launch/config/perception/object_recognition/tracking/radar_object_tracker/tracking/linear_motion_tracker.yaml
  autoware_launch/config/perception/object_recognition/tracking/tracking_object_merger/data_association_matrix.param.yaml
  autoware_launch/config/perception/object_recognition/tracking/tracking_object_merger/decorative_tracker_merger.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: component:perception, run:build-and-test-differential, tag:run-build-and-test-differential

#995 feat(lane_change): add flag use_entire_remaining_distance to lc frenet params
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/lane_change/lane_change.param.yaml
Labels: run:build-and-test-differential

#1000 feat(intersection_occlusion): request approval when occluded without traffic light (#1542)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/intersection.param.yaml
Labels: run:build-and-test-differential

#1001 feat: update diag settings for control_command_gate (#1332)
  autoware_launch/config/control/control_command_gate/control_command_gate.param.yaml
  autoware_launch/config/system/command_mode/converter.param.yaml
  autoware_launch/config/system/command_mode/decider.param.yaml
  autoware_launch/config/system/command_mode/switcher.param.yaml
  autoware_launch/config/system/diagnostics/control.yaml
  autoware_launch/config/system/diagnostics/system.yaml
  autoware_launch/launch/components/tier4_control_component.launch.xml
  autoware_launch/launch/components/tier4_system_component.launch.xml
Labels: component:system, component:control, run:build-and-test-differential, tag:run-build-and-test-differential

#1008 chore: merge tier4/main to beta/v0.50
  .github/update-sync-param-files.py
  .github/workflows/backport.yaml
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/check-build-depends.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-awf-upstream.yaml
  .github/workflows/sync-beta-upstream.yaml
  .github/workflows/sync-tier4-upstream-up-to-tag.yaml
  .github/workflows/sync-tier4-upstream.yaml
  .pre-commit-config.yaml
  NOTICE
  autoware_launch/config/system/tier4_diagnostics/dummy_diag_publisher.param.yaml
  autoware_launch/config/system/tier4_diagnostics/perception.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:perception, component:planning, type:ci, run:build-and-test-differential

#1022 feat(intersection_collision_checker): cherry pick parameters update
  autoware_launch/config/planning/scenario_planning/common/planning_validator/intersection_collision_checker.param.yaml
Labels: run:build-and-test-differential, tag:run-build-and-test-differential

#1012 feat(out_of_lane): add objects.extra_width parameter
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/out_of_lane.param.yaml
Labels: run:build-and-test-differential

#1019 fix(obstacle_stop): adjusting threshold for triggering opposing vehicle handling
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/obstacle_stop.param.yaml
Labels: run:build-and-test-differential

#1025 fix(multi object tracker): using giou to improve unknown tracking and pruning
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/data_association_matrix.param.yaml
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/input_channels.param.yaml
  autoware_launch/config/perception/object_recognition/tracking/multi_object_tracker/multi_object_tracker_node.param.yaml
Labels: component:perception, run:build-and-test-differential

#1026 fix(object_merger): update launch and add param file (cherry-pick #1568)
  autoware_launch/config/perception/object_recognition/detection/object_merger/ml_camera_lidar_object_association_merger.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception, run:build-and-test-differential

#1038 feat(autoware_launch): add traffic light visualization settings in rviz
  autoware_launch/rviz/autoware.rviz
  autoware_launch/rviz/planning_bev.rviz
  autoware_launch/rviz/planning_tpv.rviz
Labels: component:ui, component:planning, run:build-and-test-differential

#1037 feat(intersection_collision_checker): cherry pick #1575
  autoware_launch/config/planning/scenario_planning/common/planning_validator/intersection_collision_checker.param.yaml
Labels: run:build-and-test-differential, tag:run-build-and-test-differential

#1033 feat(start_planner): add clothoid path parameters (#1573)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_path_planner/start_planner/start_planner.param.yaml
Labels: run:build-and-test-differential

#1044 feat(run_out): add parameters to select which debug markers to publish
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/run_out.param.yaml
Labels: run:build-and-test-differential

#1045 feat(road_user_stop): add road_user_stop module
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/road_user_stop.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: component:ui, component:planning, run:build-and-test-differential

#1047 chore: merge tier4/main to beta/v0.51
  .github/update-sync-param-files.py
  .github/workflows/backport.yaml
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/check-build-depends.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-awf-upstream.yaml
  .github/workflows/sync-beta-upstream.yaml
  .github/workflows/sync-tier4-upstream-up-to-tag.yaml
  .github/workflows/sync-tier4-upstream.yaml
  .pre-commit-config.yaml
  NOTICE
  autoware_launch/config/system/tier4_diagnostics/dummy_diag_publisher.param.yaml
  autoware_launch/config/system/tier4_diagnostics/perception.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:perception, component:planning, type:ci, run:build-and-test-differential
