Repository tier4/autoware_launch, pull requests merged in 2025-03, with the labels that each got.

#779 feat(planning): update launch_dynamic_obstacle_avoidance from `true` to `false`
  autoware_launch/config/planning/preset/default_preset.yaml
Labels: run:build-and-test-differential

#792 fix(sync-files): remove backport.yaml from source
  .github/sync-files.yaml
Labels: type:ci, run:build-and-test-differential, tag:run-build-and-test-differential

#794 feat(path_optimizer): param changes for additional failure logging and failure mode handling
  autoware_launch/config/system/tier4_diagnostics/planning.yaml
Labels: component:planning, run:build-and-test-differential, tag:run-build-and-test-differential

#796 chore: v0.43 merge tier4/main
  .github/update-sync-param-files.py
  .github/workflows/backport.yaml
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/check-build-depends.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-awf-upstream.yaml
  .github/workflows/sync-beta-upstream.yaml
  .github/workflows/sync-tier4-upstream-up-to-tag.yaml
  .github/workflows/sync-tier4-upstream.yaml
  .pre-commit-config.yaml
  NOTICE
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/traffic_light.param.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, type:ci

#803 feat(diagnostics): add control diag
  autoware_launch/config/system/tier4_diagnostics/control.yaml
Labels: component:control, run:build-and-test-differential, tag:run-build-and-test-differential
