Repository tier4/autoware_launch, pull requests merged in 2025-05, with the labels that each got.

#856 fix: use individual params (#837)
  autoware_launch/launch/autoware.launch.xml
  sensor_kit/awsim_labs_sensor_kit_launch/awsim_labs_sensor_kit_launch/launch/imu.launch.xml
  sensor_kit/awsim_sensor_kit_launch/awsim_sensor_kit_launch/launch/imu.launch.xml
  sensor_kit/sample_sensor_kit_launch/sample_sensor_kit_launch/launch/imu.launch.xml
Labels: run:build-and-test-differential

#860 chore: update diagnostic_graph_aggregator perception config
  autoware_launch/config/system/tier4_diagnostics/perception.yaml
Labels: component:perception, component:system, run:build-and-test-differential

#864 chore: merge tier4 main to beta/v0.45
  .github/update-sync-param-files.py
  .github/workflows/backport.yaml
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/check-build-depends.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-awf-upstream.yaml
  .github/workflows/sync-beta-upstream.yaml
  .github/workflows/sync-tier4-upstream-up-to-tag.yaml
  .github/workflows/sync-tier4-upstream.yaml
  .pre-commit-config.yaml
  NOTICE
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/traffic_light.param.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: run:build-and-test-differential

#866 feat(autoware_motion_velocity_planner): point-cloud clustering optimization
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/motion_velocity_planner.param.yaml
Labels: run:build-and-test-differential

#870 fix(tier4_perception_launch): add camera ids param for segmentation_pointcloud_fusion
  autoware_launch/launch/components/tier4_perception_component.launch.xml
Labels: component:perception, run:build-and-test-differential

#875 feat(rviz): replace MRM Summary overlay with Error Diag Graph in debug rviz
  autoware_launch/rviz/perception.rviz
  autoware_launch/rviz/planning_bev.rviz
  autoware_launch/rviz/planning_tpv.rviz
Labels: run:build-and-test-differential

#880 feat(traffic_light): remove unnecessary config file caused by new matching algorithm
  autoware_launch/config/perception/traffic_light_recognition/traffic_light_selector/traffic_light_selector.param.yaml
  autoware_launch/launch/components/tier4_perception_component.launch.xml
  autoware_launch/launch/components/tier4_simulator_component.launch.xml
Labels: component:perception, run:build-and-test-differential

#881 feat(crosswalk): update stop position logic (#1409)
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/crosswalk.param.yaml
Labels: run:build-and-test-differential

#882 feat(mvp_run_out): cherry-pick of update for new motion_velocity_planner run_out
  autoware_launch/config/planning/preset/default_preset.yaml
  autoware_launch/config/planning/scenario_planning/lane_driving/motion_planning/motion_velocity_planner/run_out.param.yaml
  autoware_launch/launch/components/tier4_planning_component.launch.xml
  autoware_launch/rviz/autoware.rviz
Labels: component:ui, component:planning, run:build-and-test-differential, tag:run-build-and-test-differential

#861 feat: add input_timeout in operation_mode_transition_manager (#1407)
  autoware_launch/config/control/operation_mode_transition_manager/operation_mode_transition_manager.param.yaml
Labels: run:build-and-test-differential

#878 feat(collision_detector): time buffer and ignore behind rear axle
  autoware_launch/config/control/autoware_collision_detector/collision_detector.param.yaml
Labels: run:build-and-test-differential

#886 chore: merge tier4 main to beta/v0.46
  .github/update-sync-param-files.py
  .github/workflows/backport.yaml
  .github/workflows/beta-to-tier4-main-sync.yaml
  .github/workflows/check-build-depends.yaml
  .github/workflows/dispatch-release-note.yaml
  .github/workflows/sync-awf-latest.yaml
  .github/workflows/sync-awf-upstream.yaml
  .github/workflows/sync-beta-upstream.yaml
  .github/workflows/sync-tier4-upstream-up-to-tag.yaml
  .github/workflows/sync-tier4-upstream.yaml
  .pre-commit-config.yaml
  NOTICE
  autoware_launch/config/planning/scenario_planning/lane_driving/behavior_planning/behavior_velocity_planner/traffic_light.param.yaml
  autoware_launch/launch/autoware.launch.xml
  autoware_launch/launch/logging_simulator.launch.xml
  autoware_launch/launch/planning_simulator.launch.xml
Labels: component:planning, type:ci, run:build-and-test-differential

#883 feat(autoware_launch): show the error graph on the terminal
  autoware_launch/launch/components/tier4_system_component.launch.xml
Labels: component:system, run:build-and-test-differential, tag:run-build-and-test-differential
